/* toggle style */
#tooglecss {
    position: absolute !important;
    right: 370px !important;
    top: 18px !important;
    z-index: 999 !important;
    display: none;
  }

  body:has(#location-dashboard) #tooglecss {
    display: block !important;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 80px !important;
    height: 45px !important;
    right: 73px !important;
    top: -12px !important;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background: #1a142d;
    border: 1px solid #1a142d !important;

    -webkit-transition: .4s;
    transition: .4s;
  }



  input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(32px);
    background-color: #FFF;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .slider:after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    right: 5px;
    bottom: 6px;
    background-image: url('https://storage.googleapis.com/msgsndr/MLvKvVyGos8j4OV4y4Zt/media/68c1afc944a663d0d2109728.svg');
    background-size: cover;

  }

  input:checked+.slider:after {

    background-image: url('https://storage.googleapis.com/msgsndr/MLvKvVyGos8j4OV4y4Zt/media/68c1aff1353d1388bef7c8dd.svg') !important;
    right: 43px;

  }

  .slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 6px;
    bottom: 4px;
    background-image: url('https://storage.googleapis.com/msgsndr/MLvKvVyGos8j4OV4y4Zt/media/68c1afcb83b9825ad294cde1.svg');
    background-size: cover;

  }

  input:checked+.slider {
    background: #fff;
    border: 1px solid #ddd !important;
  }

  input:checked+.slider:before {

    background-image: url('https://storage.googleapis.com/msgsndr/MLvKvVyGos8j4OV4y4Zt/media/68c1afcd6880bfaabdd0cac0.svg');

  }


